/* line 1, /Users/mbleigh/rails3/partay/app/assets/stylesheets/mixins/clearfix.css.sass */
.clearfix {
  *display: inline-block;
}
/* line 3, /Users/mbleigh/rails3/partay/app/assets/stylesheets/mixins/clearfix.css.sass */
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

@import url(jquery.tweet.css);
/* line 4, /Users/mbleigh/rails3/partay/app/assets/stylesheets/application.css.sass */
.date_selector .ui-select {
  display: inline-block;
  width: auto;
}

/* line 8, /Users/mbleigh/rails3/partay/app/assets/stylesheets/application.css.sass */
#tweet_feed {
  height: 100%;
}

/* line 11, /Users/mbleigh/rails3/partay/app/assets/stylesheets/application.css.sass */
.callout_box {
  padding: 10px;
  background: white;
  border: 1px solid #bbbbbb;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  height: 75px;
  margin: 10px -5px;
}
/* line 18, /Users/mbleigh/rails3/partay/app/assets/stylesheets/application.css.sass */
.callout_box img {
  float: left;
  margin-right: 10px;
  width: 73px;
  height: 73px;
  border: 1px solid #cccccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 25, /Users/mbleigh/rails3/partay/app/assets/stylesheets/application.css.sass */
.callout_box h1 {
  margin: 0 0 5px 0;
  font-size: 18px;
}
/* line 28, /Users/mbleigh/rails3/partay/app/assets/stylesheets/application.css.sass */
.callout_box span {
  font-size: 12px;
  color: #888888;
  display: block;
}
